@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Poppins:wght@400;500&display=swap");

.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  position: fixed;
  top: 0px;
  text-align: center;
  overflow: hidden;
}

.div-a {
  margin-top: 1vh;
  margin-left: 2vw;
}

.a-edie {
  color: #333333;
  font-weight: bold;
  font-family: Heebo;
  font-size: 1.5vw;
}

.div-list-nav {
  margin-right: 2vw;
}

.list-nav {
  display: flex;
  list-style: none;
}

.a-list-nav {
  font-size: 1.2vw;
  font-family: Poppins;
  color: #333;
}

.list-a {
  margin-left: 2vw;
}

@media (max-width: 770px) {
    .nav{
        width: 85%;
    }

    .a-edie{
        font-size: 5vw;
    }

  .div-menu {
    display: flex;
    position: absolute;
    right: 3vw;
    top: 3vh;
    padding: 0;
    margin: 0;
  }

  .button-nav {
    width: 90px;
    height: 31px;
  }

  .BiMenu {
    font-size: 5vw;
    color: rgb(0, 0, 0);
    margin-right: 2vw;
    margin-top: 0vh;
  }

  .section-nav-response {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: 9999;

    color: white;
    font-size: 24px;
  }

  .Bix {
    width: 38px;
    height: 38px;
    margin-left: 86vw;
    margin-top: 2vh;
  }

  .ul-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    top: 25vh;
    left: 10vw;
  }

  .a-list-nav{
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
  }

  li {
    margin-bottom: 30px;
  }
}
