.h1-services {
  margin-left: 10vw;
  font-family: Poppins;
  color: #333;
  font-weight: 500;
}

.div-services {
  display: flex;
  justify-content: space-around;
}

.div-service-info {
  width: 20.7vw;
  height: 50.2vh;
  border-radius: 24px;
  background-color: antiquewhite;
}

.div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  width: 3.5vw;
  height: 7.2vh;
  border-radius: 0.8vw;
  margin-top: 5.3vh;
  margin-left: 2.6vw;
}

.icon {
  color: white;
  width: 1.9vw;
  height: 3.8vh;
}

.div-service-info-text {
  margin-left: 2.6vw;
}

.h2-service-info-text {
  color: #333;
  font-size: 1.2vw;
}

.p-service-info-text {
  color: #333;
  font-size: 1vw;
}

.button-service-info-text {
  margin-top: 1vh;
  color: #828282;
  font-family: Poppins;
  font-weight: 500;
  border: none;
  padding: 0.8em 1.2em;
  border-radius: 12px;
  background-color: #e0e0e0;
}

.button-service-info-text:hover {
  transition: 0.5s;
  background-color: #2d9cdb;
  color: white;
}

@media (max-width: 770px) {
  .h1-services {
    width: 80vw;
    font-size: 8vw;
  }

  .div-services {
    display: flex;
    justify-content: none;
    flex-direction: column;
  }

  .div-service-info {
    width: 90vw;
    height: 50.2vh;
    margin-left: 5vw;
    margin-bottom: 5%;
  }

  .div-icon {
    width: 20vw;
    height: 8vh;
    border-radius: 18px;
    margin-left: 10vw;
  }

  .icon {
    color: white;
    width: 12vw;
    height: 12vh;
  }

  .div-service-info-text {
    margin-left: 10vw;
  }

  .h2-service-info-text {
    color: #333;
    font-family: Poppins;
    font-weight: 700;
    font-size: 6vw;
  }

  .p-service-info-text {
    color: #4f4f4f;
    font-family: Poppins;
    font-weight: 400;
    font-size: 4vw;
  }
}
