.h1-services {
  margin-left: 10vw;
  font-family: Poppins;
  color: #333;
  font-weight: 500;
}

.div-services {
  display: flex;
  justify-content: space-around;
}

.div-service-info {
  width: 341px;
  height: 422px;
  border-radius: 24px;
  background-color: antiquewhite;
}

.div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  width: 67px;
  height: 67px;
  border-radius: 16px;
  margin-top: 30px;
  margin-left: 30px;
}

.icon {
  color: white;
  width: 36px;
  height: 36px;
}

.div-service-info-text{
    margin-left: 30px;
}

.h2-service-info-text{
    color: #333;
}

.p-service-info-text{
    color: #333;
}

.button-service-info-text{
    color: #828282;
font-family: Poppins;
font-weight: 500;

    background-color: #E0E0E0;
}
